<a href="https://colab.research.google.com/github/oskargirardin/CRP_GDPR_datasets/blob/master/Time_series_synthetic_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Installs + gathering

In [ ]:
!pip install sdv

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sdv in /usr/local/lib/python3.8/dist-packages (0.18.0)
Requirement already satisfied: ctgan<0.8,>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from sdv) (0.7.0)
Requirement already satisfied: graphviz<1,>=0.13.2 in /usr/local/lib/python3.8/dist-packages (from sdv) (0.20.1)
Requirement already satisfied: deepecho<0.5,>=0.4.0 in /usr/local/lib/python3.8/dist-packages (from sdv) (0.4.0)
Requirement already satisfied: cloudpickle<3.0,>=2.1.0 in /usr/local/lib/python3.8/dist-packages (from sdv) (2.2.1)
Requirement already satisfied: tqdm<5,>=4.15 in /usr/local/lib/python3.8/dist-packages (from sdv) (4.64.1)
Requirement already satisfied: Faker<15,>=10 in /usr/local/lib/python3.8/dist-packages (from sdv) (14.2.1)
Requirement already satisfied: sdmetrics<0.10,>=0.9.0 in /usr/local/lib/python3.8/dist-packages (from sdv) (0.9.0)
Requirement already satisfied: numpy<2,>=1.20.0 in /usr/local/lib/python3.8/dist-packages (from sdv) (1.21.6)
Requirement already satisfied: copulas<0.9,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from sdv) (0.8.0)
Requirement already satisfied: pandas<2,>=1.1.3 in /usr/local/lib/python3.8/dist-packages (from sdv) (1.3.5)
Requirement already satisfied: rdt<2,>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from sdv) (1.3.0)
Requirement already satisfied: matplotlib<4,>=3.4.0 in /usr/local/lib/python3.8/dist-packages (from copulas<0.9,>=0.8.0->sdv) (3.6.3)
Requirement already satisfied: scipy<2,>=1.5.4 in /usr/local/lib/python3.8/dist-packages (from copulas<0.9,>=0.8.0->sdv) (1.7.3)
Requirement already satisfied: torch<2,>=1.8.0 in /usr/local/lib/python3.8/dist-packages (from ctgan<0.8,>=0.7.0->sdv) (1.13.1+cu116)
Requirement already satisfied: packaging<22,>=20 in /usr/local/lib/python3.8/dist-packages (from ctgan<0.8,>=0.7.0->sdv) (21.3)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from Faker<15,>=10->sdv) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas<2,>=1.1.3->sdv) (2022.7.1)
Requirement already satisfied: scikit-learn<2,>=0.24 in /usr/local/lib/python3.8/dist-packages (from rdt<2,>=1.3.0->sdv) (1.0.2)
Requirement already satisfied: psutil<6,>=5.7 in /usr/local/lib/python3.8/dist-packages (from rdt<2,>=1.3.0->sdv) (5.9.4)
Requirement already satisfied: plotly<6,>=5.10.0 in /usr/local/lib/python3.8/dist-packages (from sdmetrics<0.10,>=0.9.0->sdv) (5.13.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.9,>=0.8.0->sdv) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.9,>=0.8.0->sdv) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.9,>=0.8.0->sdv) (7.1.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.9,>=0.8.0->sdv) (1.0.7)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.9,>=0.8.0->sdv) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.9,>=0.8.0->sdv) (4.38.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly<6,>=5.10.0->sdmetrics<0.10,>=0.9.0->sdv) (8.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->Faker<15,>=10->sdv) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn<2,>=0.24->rdt<2,>=1.3.0->sdv) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn<2,>=0.24->rdt<2,>=1.3.0->sdv) (3.1.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.8/dist-packages (from torch<2,>=1.8.0->ctgan<0.8,>=0.7.0->sdv) (4.4.0)

**RESTART RUNTIME**

In [ ]:
from sdv.demo import load_timeseries_demo

# Data preprocessing

In [ ]:
data = load_timeseries_demo()
data.head()

,Symbol,Date,Open,Close,Volume,MarketCap,Sector,Industry
0,AAPL,2018-12-31,39.632500,39.435001,140014000,7.378734e+11,Technology,Computer Manufacturing
1,AAPL,2019-01-02,38.722500,39.480000,148158800,7.378734e+11,Technology,Computer Manufacturing
2,AAPL,2019-01-03,35.994999,35.547501,365248800,7.378734e+11,Technology,Computer Manufacturing
3,AAPL,2019-01-04,36.132500,37.064999,234428400,7.378734e+11,Technology,Computer Manufacturing
4,AAPL,2019-01-07,37.174999,36.982498,219111200,7.378734e+11,Technology,Computer Manufacturing

In [ ]:
entity_columns = ['Symbol']

In [ ]:
context_columns = ['MarketCap', 'Sector', 'Industry']

In [ ]:
sequence_index = 'Date'

# Fitting the data

In [ ]:
from sdv.timeseries import PAR

model = PAR(entity_columns=entity_columns,context_columns=context_columns,sequence_index=sequence_index)

model.fit(data)

/usr/local/lib/python3.8/dist-packages/rdt/transformers/numerical.py:100: UserWarning: No rounding scheme detected for column 'MarketCap'. Data will not be rounded.
  warnings.warn(

In [ ]:
new_data = model.sample(5)

print(new_data)

     Symbol       Date        Open       Close    Volume     MarketCap  \
0         a 2019-01-01  185.069195  188.177220   3968670           NaN
1         a 2019-01-02  115.145136  109.500810   3086022           NaN
2         a 2019-01-03  139.531329  124.001879   1259917           NaN
3         a 2019-01-04  133.373885   89.707209     70349           NaN
4         a 2019-01-05   96.259645  114.573502   4981301           NaN
...     ...        ...         ...         ...       ...           ...
1072      e 2019-10-27  200.663195  192.502210   9333211  3.095382e+11
1073      e 2019-10-28  194.956867  174.265580  11193619  3.095382e+11
1074      e 2019-10-30  175.229832  167.003365    676644  3.095382e+11
1075      e 2019-10-31  176.009233  190.882074  11356510  3.095382e+11
1076      e 2019-11-02  177.539976  179.182183   6649581  3.095382e+11

             Sector                        Industry
0       Health Care                             NaN
1       Health Care                             NaN
2       Health Care                             NaN
3       Health Care                             NaN
4       Health Care                             NaN
...             ...                             ...
1072  Capital Goods  Clothing/Shoe/Accessory Stores
1073  Capital Goods  Clothing/Shoe/Accessory Stores
1074  Capital Goods  Clothing/Shoe/Accessory Stores
1075  Capital Goods  Clothing/Shoe/Accessory Stores
1076  Capital Goods  Clothing/Shoe/Accessory Stores

[1077 rows x 8 columns]

# Context

A good practice is to pass some context to the library so we force the model to pass certain data types

In [ ]:
import pandas as pd

context = pd.DataFrame([
    {'Symbol': 'AAAA',
     'MarketCap': 1.2345e+11,
     'Sector': 'Technology',
     'Industry': 'Electronic Components'
   },
   {
    'Symbol': 'BBBB',
    'MarketCap': 4.5678e+10,
    'Sector': 'Health Care',
    'Industry': 'Medical/Nursing Services'
    },
])

context

  Symbol     MarketCap       Sector                  Industry
0   AAAA  1.234500e+11   Technology     Electronic Components
1   BBBB  4.567800e+10  Health Care  Medical/Nursing Services

In [ ]:
new_data = model.sample(context=context)

In [ ]:
new_data[new_data.Symbol == 'AAAA'].head()

,Symbol,Date,Open,Close,Volume,MarketCap,Sector,Industry
0,AAAA,2019-01-03,183.437196,183.531971,1194932,1.234500e+11,Technology,Electronic Components
1,AAAA,2019-01-01,133.862832,189.135913,10575300,1.234500e+11,Technology,Electronic Components
2,AAAA,2019-01-03,139.153489,185.657522,5491439,1.234500e+11,Technology,Electronic Components
3,AAAA,2019-01-05,183.621222,172.412486,5871925,1.234500e+11,Technology,Electronic Components
4,AAAA,2019-01-06,164.704592,148.998522,5702431,1.234500e+11,Technology,Electronic Components

# Save and Share model

In [ ]:
model.save('my_model.pkl')

Once shared with the right people, they can load and use it as such

In [ ]:
loaded = PAR.load('my_model.pkl')

loaded.sample(num_sequences=1).head()

,Symbol,Date,Open,Close,Volume,MarketCap,Sector,Industry
0,a,2019-01-03,183.437196,289.619429,6569659,8.932894e+10,Technology,Computer Software: Prepackaged Software
1,a,2018-12-30,218.342611,197.965090,4007306,8.932894e+10,Technology,Computer Software: Prepackaged Software
2,a,2019-01-02,228.881425,200.996236,4239223,8.932894e+10,Technology,Computer Software: Prepackaged Software
3,a,2019-01-04,221.758338,196.977148,3889975,8.932894e+10,Technology,Computer Software: Prepackaged Software
4,a,2019-01-04,223.204746,242.159604,-15267,8.932894e+10,Technology,Computer Software: Prepackaged Software