In [1]:
import sys
sys.path.append('..')

In [2]:
from synthetic_data_generation import generator
from similarity_check.SimilarityCheck import *
from synthetic_data_generation.generator import *
from utils import *
from privacy_check import *

/opt/anaconda3/envs/CRP/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

IPython not installed.

In [3]:
# define path to the data you want to test
path_test_data = "../Subsample_training.csv"

# take the comment out to see the first 10 rows of your data

# indicate which columns are categorical, and which are sensitive
cat_cols = ['Married/Single', 'House_Ownership', 'Car_Ownership', 'Profession', 'CITY', 'STATE', 'Risk_Flag']
sensitive_cols = ["first_name", "last_name", "email", "gender", "ip_address", "nationality", "city"]

my_metadata = {
    'fields':
        {
            'Income': {'type': 'numerical', 'subtype': 'integer'},
            'Age': {'type': 'numerical', 'subtype': 'integer'},
            'Experience': {'type': 'numerical', 'subtype': 'integer'},
            'CURRENT_JOB_YRS': {'type': 'numerical', 'subtype': 'integer'},
            'CURRENT_HOUSE_YRS': {'type': 'numerical', 'subtype': 'integer'},
            'Married/Single': {'type': 'categorical'},
            'House_Ownership': {'type': 'categorical'},
            'Car_Ownership': {'type': 'categorical'},
            'Profession': {'type': 'categorical'},
            'CITY': {'type': 'categorical'},
            'STATE': {'type': 'categorical'},
            'Risk_Flag': {'type': 'boolean'}
        },
    'constraints': [],
    'model_kwargs': {},
    'name': None,
    'primary_key': None,
    'sequence_index': None,
    'entity_columns': [],
    'context_columns': []
}

data = get_data(path_test_data)
# checking that it can deal with nan values
data.iloc[3, 2] = float("nan")
print(data.head())
# create object
generator = Generator(n_epochs=100, n_samples=100, architecture='CTGAN',
                        data=data,
                        categorical_columns=cat_cols,
                        sensitive_columns=sensitive_cols)
print("Generating data")
synth_data = generator.generate().iloc[:, 2:]

   Unnamed: 0      Id     Income  Age  Experience Married/Single  \
0      189701  189702  2201763.0   70          15         single
1      176485  176486  7159687.0   38           5         single
2       27140   27141  4539480.0   46           3         single
3       95936   95937        NaN   42          16         single
4       82608   82609  6501844.0   79          14         single

  House_Ownership Car_Ownership           Profession       CITY  \
0          rented            no              Dentist      Kulti
1          rented            no    Computer_operator    Jalgaon
2          rented           yes     Fashion_Designer  Eluru[25]
3          rented            no  Biomedical_Engineer      Bhind
4          rented           yes             Engineer     Bhopal

            STATE  CURRENT_JOB_YRS  CURRENT_HOUSE_YRS  Risk_Flag
0     West_Bengal               12                 14          0
1     Maharashtra                3                 11          0
2  Andhra_Pradesh                3                 11          0
3  Madhya_Pradesh                5                 13          0
4  Madhya_Pradesh               13                 14          0
Retrieving metadata, check with generator.metadata
Generating data
Epoch 1, Loss G:  2.6686,Loss D: -0.0372
Epoch 2, Loss G:  2.4817,Loss D: -0.1140
Epoch 3, Loss G:  2.5312,Loss D: -0.1681
Epoch 4, Loss G:  2.2830,Loss D: -0.2101
Epoch 5, Loss G:  2.5182,Loss D: -0.2028
Epoch 6, Loss G:  2.3383,Loss D: -0.0822
Epoch 7, Loss G:  2.2816,Loss D: -0.0369
Epoch 8, Loss G:  2.3113,Loss D: -0.0226
Epoch 9, Loss G:  2.2408,Loss D: -0.0670
Epoch 10, Loss G:  2.2805,Loss D: -0.0599
Epoch 11, Loss G:  2.1637,Loss D:  0.0660
Epoch 12, Loss G:  2.1169,Loss D:  0.0747
Epoch 13, Loss G:  2.2382,Loss D:  0.0076
Epoch 14, Loss G:  2.4641,Loss D: -0.1079
Epoch 15, Loss G:  2.1955,Loss D: -0.1499
Epoch 16, Loss G:  2.3364,Loss D:  0.0350
Epoch 17, Loss G:  2.1711,Loss D:  0.1193
Epoch 18, Loss G:  2.2133,Loss D:  0.1509
Epoch 19, Loss G:  2.1794,Loss D:  0.0085
Epoch 20, Loss G:  2.4505,Loss D: -0.0771
Epoch 21, Loss G:  2.3762,Loss D: -0.1563
Epoch 22, Loss G:  2.2439,Loss D: -0.0946
Epoch 23, Loss G:  2.2873,Loss D: -0.0199
Epoch 24, Loss G:  1.9788,Loss D:  0.0909
Epoch 25, Loss G:  1.8571,Loss D:  0.1933
Epoch 26, Loss G:  2.0080,Loss D:  0.0646
Epoch 27, Loss G:  2.0983,Loss D: -0.0205
Epoch 28, Loss G:  2.1299,Loss D: -0.1376
Epoch 29, Loss G:  1.9700,Loss D: -0.0641
Epoch 30, Loss G:  1.8830,Loss D:  0.0015
Epoch 31, Loss G:  1.5436,Loss D:  0.2357
Epoch 32, Loss G:  1.6042,Loss D:  0.1681
Epoch 33, Loss G:  1.7702,Loss D:  0.1014
Epoch 34, Loss G:  1.8471,Loss D: -0.0481
Epoch 35, Loss G:  2.0206,Loss D: -0.1615
Epoch 36, Loss G:  1.8835,Loss D: -0.0694
Epoch 37, Loss G:  1.7712,Loss D:  0.0019
Epoch 38, Loss G:  1.5393,Loss D:  0.1824
Epoch 39, Loss G:  1.5595,Loss D:  0.1948
Epoch 40, Loss G:  1.7864,Loss D:  0.0325
Epoch 41, Loss G:  1.9544,Loss D: -0.1254
Epoch 42, Loss G:  1.9415,Loss D: -0.2039
Epoch 43, Loss G:  1.7691,Loss D: -0.0782
Epoch 44, Loss G:  1.3070,Loss D:  0.1693
Epoch 45, Loss G:  1.3685,Loss D:  0.1697
Epoch 46, Loss G:  1.3190,Loss D:  0.1569
Epoch 47, Loss G:  1.5438,Loss D: -0.0800
Epoch 48, Loss G:  1.7971,Loss D: -0.1606
Epoch 49, Loss G:  1.5209,Loss D: -0.1294
Epoch 50, Loss G:  1.2270,Loss D:  0.1061
Epoch 51, Loss G:  1.3097,Loss D:  0.2295
Epoch 52, Loss G:  1.2507,Loss D:  0.1255
Epoch 53, Loss G:  1.3467,Loss D: -0.0686
Epoch 54, Loss G:  1.4476,Loss D: -0.0804
Epoch 55, Loss G:  1.2035,Loss D:  0.0547
Epoch 56, Loss G:  1.5014,Loss D:  0.0319
Epoch 57, Loss G:  1.5736,Loss D: -0.0688
Epoch 58, Loss G:  1.4407,Loss D: -0.0744
Epoch 59, Loss G:  1.2286,Loss D:  0.0575
Epoch 60, Loss G:  1.5615,Loss D:  0.0433
Epoch 61, Loss G:  1.3288,Loss D:  0.0692
Epoch 62, Loss G:  1.3705,Loss D:  0.0370
Epoch 63, Loss G:  1.2056,Loss D: -0.0250
Epoch 64, Loss G:  1.2621,Loss D: -0.0409
Epoch 65, Loss G:  1.2357,Loss D:  0.0081
Epoch 66, Loss G:  0.9782,Loss D:  0.0363
Epoch 67, Loss G:  1.0810,Loss D:  0.0829
Epoch 68, Loss G:  0.9577,Loss D:  0.0048
Epoch 69, Loss G:  0.8360,Loss D:  0.0171
Epoch 70, Loss G:  1.1270,Loss D: -0.0054
Epoch 71, Loss G:  0.7770,Loss D:  0.0125
Epoch 72, Loss G:  0.7386,Loss D:  0.0366
Epoch 73, Loss G:  0.8036,Loss D:  0.0802
Epoch 74, Loss G:  0.9756,Loss D:  0.0096
Epoch 75, Loss G:  0.9138,Loss D: -0.0695
Epoch 76, Loss G:  0.8990,Loss D: -0.0472
Epoch 77, Loss G:  1.0005,Loss D:  0.0298
Epoch 78, Loss G:  0.8098,Loss D:  0.0721
Epoch 79, Loss G:  0.6977,Loss D:  0.1301
Epoch 80, Loss G:  0.8763,Loss D:  0.0400
Epoch 81, Loss G:  0.7573,Loss D: -0.0277
Epoch 82, Loss G:  1.0442,Loss D: -0.1172
Epoch 83, Loss G:  0.8785,Loss D: -0.0814
Epoch 84, Loss G:  0.8723,Loss D:  0.0357
Epoch 85, Loss G:  0.7590,Loss D:  0.0275
Epoch 86, Loss G:  0.6370,Loss D:  0.0715
Epoch 87, Loss G:  0.5786,Loss D: -0.0450
Epoch 88, Loss G:  0.5604,Loss D: -0.0521
Epoch 89, Loss G:  0.6965,Loss D:  0.0250
Epoch 90, Loss G:  0.5385,Loss D:  0.0212
Epoch 91, Loss G:  0.4565,Loss D:  0.0689
Epoch 92, Loss G:  0.4914,Loss D:  0.0871
Epoch 93, Loss G:  0.5340,Loss D:  0.1113
Epoch 94, Loss G:  0.5052,Loss D: -0.0394
Epoch 95, Loss G:  0.4416,Loss D: -0.0865
Epoch 96, Loss G:  0.4232,Loss D: -0.0572
Epoch 97, Loss G:  0.4758,Loss D:  0.0316
Epoch 98, Loss G:  0.3042,Loss D:  0.0755
Epoch 99, Loss G:  0.2686,Loss D:  0.1111
Epoch 100, Loss G:  0.2831,Loss D:  0.0404

In [4]:
synth_data

,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,2204815.0,68,16,single,rented,no,Physician,Farrukhabad,Uttar_Pradesh,9,13,1
1,6269912.0,37,4,married,rented,no,Physician,Mehsana,Karnataka,3,10,1
2,8074205.0,34,19,single,norent_noown,yes,Chartered_Accountant,Kurnool[18],Maharashtra,2,13,1
3,3474652.0,79,15,single,norent_noown,no,Computer_hardware_engineer,Panihati,Chhattisgarh,1,10,0
4,9992133.0,77,5,married,rented,yes,Design_Engineer,Panipat,Uttar_Pradesh,5,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...
95,4215539.0,35,10,single,norent_noown,yes,Industrial_Engineer,Ratlam,Chandigarh,2,11,0
96,1023598.0,26,11,single,rented,no,Analyst,Bardhaman,Bihar,2,14,1
97,7886694.0,79,5,single,norent_noown,no,Software_Developer,Bhubaneswar,Karnataka,6,12,0
98,9992133.0,79,20,single,rented,yes,Web_designer,Alappuzha,Andhra_Pradesh,2,14,0
99,4945779.0,79,20,single,rented,no,Industrial_Engineer,Bikaner,Rajasthan,0,14,0

In [5]:
real_data = data.drop(["Unnamed: 0", "Id"], axis = 1)

In [6]:
real_data

,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,2201763.0,70,15,single,rented,no,Dentist,Kulti,West_Bengal,12,14,0
1,7159687.0,38,5,single,rented,no,Computer_operator,Jalgaon,Maharashtra,3,11,0
2,4539480.0,46,3,single,rented,yes,Fashion_Designer,Eluru[25],Andhra_Pradesh,3,11,0
3,NaN,42,16,single,rented,no,Biomedical_Engineer,Bhind,Madhya_Pradesh,5,13,0
4,6501844.0,79,14,single,rented,yes,Engineer,Bhopal,Madhya_Pradesh,13,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,4754357.0,25,0,single,rented,no,Lawyer,Pondicherry,Puducherry,0,12,0
1996,7591621.0,41,6,single,owned,no,Artist,Jaunpur,Uttar_Pradesh,3,14,1
1997,6830726.0,29,20,married,rented,yes,Secretary,Rajkot,Gujarat,3,14,1
1998,8645202.0,65,9,single,owned,no,Technician,Mango,Jharkhand,9,13,0
1999,6443274.0,79,12,single,rented,no,Chartered_Accountant,Thanjavur,Tamil_Nadu,9,14,1

In [7]:
#score, pairs = generate_report(real_data, synth_data, my_metadata, dist_threshold=0.15, only_cat=False)
privacy = PrivacyCheck(real_data, synth_data, my_metadata)

In [8]:
privacy.generate_privacy_score()

Generating report...Done!

In [10]:
score, pairs = privacy.get_privacy_score()

############ SCORE ############
Privacy score:  84.81%
############ TOP 3 CLOSEST PAIRS ############
# 1. Closest pair with distance:  0.1519

|                   | Synthetic obs. (idx: 56)   | Closest real obs. (idx: 1212)   |
|:------------------|:---------------------------|:--------------------------------|
| Income            | 6197867.0                  | 6415225.0                       |
| Age               | 64                         | 54                              |
| Experience        | 16                         | 13                              |
| Married/Single    | single                     | single                          |
| House_Ownership   | rented                     | rented                          |
| Car_Ownership     | no                         | no                              |
| Profession        | Flight_attendant           | Flight_attendant                |
| CITY              | Sambalpur                  | Firozabad                       |
| STATE             | Uttar_Pradesh              | Uttar_Pradesh                   |
| CURRENT_JOB_YRS   | 5                          | 3                               |
| CURRENT_HOUSE_YRS | 12                         | 13                              |
| Risk_Flag         | 0                          | 0                               |

# 2. Closest pair with distance:  0.1532

|                   | Synthetic obs. (idx: 0)   | Closest real obs. (idx: 440)   |
|:------------------|:--------------------------|:-------------------------------|
| Income            | 2204815.0                 | 6973369.0                      |
| Age               | 68                        | 68                             |
| Experience        | 16                        | 20                             |
| Married/Single    | single                    | single                         |
| House_Ownership   | rented                    | rented                         |
| Car_Ownership     | no                        | no                             |
| Profession        | Physician                 | Physician                      |
| CITY              | Farrukhabad               | Raebareli                      |
| STATE             | Uttar_Pradesh             | Uttar_Pradesh                  |
| CURRENT_JOB_YRS   | 9                         | 11                             |
| CURRENT_HOUSE_YRS | 13                        | 13                             |
| Risk_Flag         | 1                         | 1                              |

# 3. Closest pair with distance:  0.1701

|                   | Synthetic obs. (idx: 93)   | Closest real obs. (idx: 1963)   |
|:------------------|:---------------------------|:--------------------------------|
| Income            | 8906322.0                  | 8753453.0                       |
| Age               | 74                         | 52                              |
| Experience        | 14                         | 14                              |
| Married/Single    | single                     | single                          |
| House_Ownership   | rented                     | rented                          |
| Car_Ownership     | no                         | no                              |
| Profession        | Designer                   | Geologist                       |
| CITY              | Guntur[13]                 | Guntur[13]                      |
| STATE             | Andhra_Pradesh             | Andhra_Pradesh                  |
| CURRENT_JOB_YRS   | 1                          | 7                               |
| CURRENT_HOUSE_YRS | 10                         | 11                              |
| Risk_Flag         | 0                          | 0                               |